@font-face {
    font-family: 'Custom Font';
    font-style: normal;
    font-weight: normal;
    src: local('Custom Font'), url('font-custom.woff') format('woff');
}

:root {
	--blue-1: #0A1531;
	--light: #fff;
}

body {
	background-color: var(--blue-1);
	color: var(--light);
	font-family: 'Merriweather', serif;
	font-weight: 300;
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
}

::selection {
	background: #d300f5;
	color var(--light);
	text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Custom Font', monospace;
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
	letter-spacing: .3rem;
	line-height: 1;
	margin-bottom: 20px;
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	h1, h2, h3, h4, h5, h6 {
		font-size: 1.6rem;
	}
}

p {
	font-size: 1rem;
	line-height: 1.6;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

.u-visually-hidden {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow: hidden;
	padding:0;
	position:absolute;
	width:1px
}

.grid {
	margin: 0 auto;
	max-width: 400px;
	padding-left: 30px;
	padding-right: 30px;
}

.grid--no-padding {
	max-width: none;
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 768px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		max-width: 1440px;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	.grid--no-padding {
		max-width: none;
	}
}
